@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.label {
    -fx-font-family: 'IBM Plex Sans', sans-serif;
}

.text {
    -fx-font-family: 'IBM Plex Sans', sans-serif;
}

.radio-button:selected .radio .dot {
    -fx-background-color: #32CD32;
    -fx-background-insets: 0;
}

#directFlight:selected .radio .dot {
  -fx-background-color: #1E2E9A;
  -fx-background-insets: 0;
}

.button {

    -fx-font-size: 16px;
}

#delete_acc_button{

    -fx-font-size: 16px;

}

#change_pass_button{

    -fx-font-size: 16px;

}

#welcome{

    -fx-font-size: 28px;

}

#user_tag{

    -fx-font-size: 28px;

}

#class_selector{

    -fx-font-size: 11px;

}

.date-picker .arrow-button .arrow {
  -fx-background-color: #808080;
}


.date-picker .selected {
  -fx-background-color: #DF8597;
  -fx-text-fill: white;
}
.date-picker-popup {
  -fx-border-color: transparent;
}

.date-picker-popup .month-year-pane {
  -fx-background-color: #DF8597;
}

.date-picker-popup .week-number-cell {
  -fx-text-fill: #674C7C;

}
.date-picker-popup .month-year-pane .label {
  -fx-text-fill: white;
}

.date-picker .cell:hover {
  -fx-background-color: #DF8597;
  -fx-text-fill: white;
}

.date-picker .cell {
	-fx-text-fill: #808080;
}

.date-picker .cell:focused {
  -fx-background-color: #32CD32;
  -fx-text-fill: white;

}

.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
  -fx-background-color: #1E2E9A;
}

.date-picker-popup > * > .previous-month:hover,
.date-picker-popup > * > .next-month:hover {
    -fx-background: -fx-selection-bar-non-focused;
}




.tab-pane *.tab-header-area *.tab-header-background {
  -fx-background-color:transparent;
}



.tab-pane {
    -fx-background-color: transparent ;
    -fx-background-radius: 20

}


.tab {
  -fx-background-color: transparent ;
  -fx-background-radius: 30;
  -fx-text-fill: #1E2E9A;
  -fx-font-family: 'IBM Plex Sans', sans-serif;
}

.tab:selected {
    -fx-background-color:#1E2E9A;
    -fx-background-radius: 30;

}

.tab-pane > .tab-header-area > .headers-region > .tab:selected > .tab-container > .tab-label {
       -fx-text-fill: white;
       -fx-font-family: 'IBM Plex Sans', sans-serif;
       -fx-font-weight: bold;
       -fx-underline: false;

}

.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
       -fx-text-fill: #808080;
       -fx-font-family: 'IBM Plex Sans', sans-serif;
       -fx-font-weight: bold;
        -fx-underline: true;
}
